<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #name />
  </label>
  <label>Price:
    <input #price  type="number"/>
  </label>
  <label>Amount:
    <input #amount type="number"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(name.value, price.value, amount.value); name.value=''; price.value=''; amount.value=''">
    add
  </button>
</div>